/* Header.css */

.header {
    padding: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid #000;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container img {
    width: 100px; /* Ajusta el ancho de la imagen según sea necesario */
  }
  
  .links {
    margin-left: 10px; /* Ajusta el espacio entre los enlaces según sea necesario */
  }
  
  .links a {
    margin-right: 10px; /* Ajusta el espacio entre los enlaces según sea necesario */
    text-decoration: none;
  }
  