/* HouseList.css */

.spinner {
    margin: 0 auto;
    animation: spin 1s linear infinite;
    font-size: 4rem;
    color: #6600cc;
    margin-top: 200px;
  }
  
  .no-results {
    text-align: center;
    font-size: 3rem;
    color: #666666;
    margin-top: 48px;
  }
  
  .house-list {
    margin-bottom: 20px;
  }
  
  .house-list .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
  }
  
  .house-list .grid a {
    text-decoration: none;
  }
  