
/* Sidebar.css */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #1a1c23; /* Color de fondo del sidebar */
    color: #fff;
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
    border-right: 2px solid #333; /* Borde derecho */
  }
  
  .sidebar.open {
    transform: translateX(0); /* Mostrar el sidebar cuando está abierto */
}
  
  .sidebar-content {
    padding: 16px;
}
  
  .sidebar-title {
    margin-bottom: 20px;
  color: #fff;
  }
  
  .sidebar-item {
    color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out; /* Animación al pasar el mouse */
}
  
  .sidebar-item:hover {
    background-color: #333; /* Color de fondo al pasar el mouse */
}
  
  .sidebar-item-selected {
    background-color: #333; /* Color de fondo seleccionado */
  border-radius: 20px; /* Borde redondeado */
}
  
  .sidebar-item-selected .MuiListItemText-primary {
    color: #007bff; /* Color del texto seleccionado */
}
  
  
  .sidebar-content {
    padding: 16px;
  }
  
  .sidebar-title {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .sidebar-item {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out; /* Animación al pasar el mouse */
  }
  
  .sidebar-item:hover {
    background-color: #333; /* Color de fondo al pasar el mouse */
  }
  
  .sidebar-item-selected {
    background-color: #333; /* Color de fondo seleccionado */
    border-radius: 20px; /* Borde redondeado */
  }
  
  .sidebar-item-selected .MuiListItemText-primary {
    color: #007bff; /* Color del texto seleccionado */
  }
  
  
  .sidebar-content {
    padding: 16px;
  }
  
  .sidebar h5 {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    text-decoration: none;
    background-color: #007bff;
    border-radius: 50px;
  }
  
  .sidebar .MuiDrawer-paper {
    width: 250px;
    background-color: #333;
    color: #fff;
  }
  
  .sidebar .MuiListItemIcon-root {
    color: #fff;
  }
  
  .sidebar .MuiTypography-root {
    color: #fff;
  }
  
  .sidebar .MuiListItem-root {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .sidebar .MuiListItem-root.selected {
    background-color: #555;
  }
  
  .sidebar .sidebar-content .Mui-selected {
    background-color: #f0f0f0;
    border-radius: 50px;
  }
  
  .sidebar .sidebar-content .Mui-selected .MuiListItemIcon-root {
    color: #007bff; /* Cambia el color de los iconos seleccionados */
  }
  
  .sidebar .sidebar-content .Mui-selected .MuiListItemText-primary {
    color: #007bff; /* Cambia el color del texto de los iconos seleccionados */
  }
  