/* App.css */

.app {
    display: flex; /* Utiliza un diseño flexible */
  }
  
  .main-content {
    flex-grow: 1; /* El contenido principal crecerá para ocupar el espacio disponible */
    padding-left: 200px; /* Asegura un espacio para el Sidebar */
  }
  
  /* Estilos adicionales según sea necesario */
  